<!-- BEGIN: Subheader -->
<div class="m-subheader">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <!-- <h3 class="m-subheader__title m-subheader__title--separator">
                Department
            </h3> -->
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="/index" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon la la-home"></i>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a href="/index" class="m-nav__link">
                        <span class="m-nav__link-text">
							Dashboard
						</span>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a href="#" class="m-nav__link">
                        <span class="m-nav__link-text">
							Designation
						</span>
                    </a>
                </li>
            </ul>
        </div>
        <div>
            <div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push">

                <a class="btn btn-accent m-btn m-btn--custom m-btn--pill m-btn--icon m-btn--air" href="#" ng-reflect-href="#" (click)="open(content)">
                    <span>
                        <i class="flaticon-add"></i>
                        <span>
                            New Designation
                        </span>
                    </span>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- END: Subheader -->
<div class="m-content">

    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        List of All Designations
                    </h3>
                </div>
            </div>
        </div>
        <div class="m-portlet__body">
            <div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
                <div class="row align-items-center">
                    <table class="table">
                        <thead>
                            <th>#</th>
                            <th>Name</th>
                            <th>Department</th>
                            <th>Actions</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let designation of designations; let i = index">
                                <td>{{i+1}}</td>
                                <td>{{designation.name}}</td>
                                <td>{{designation.department.name}}</td>
                                <td data-field="Actions" class="m-datatable__cell">
                                    <span style="overflow: visible; width: 110px;">			
                                        <a href="#" class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill" title="View ">
                                            <i class="la la-edit"></i>
                                        </a>
                                        <a href="#" class="m-portlet__nav-link btn m-btn m-btn--hover-danger m-btn--icon m-btn--icon-only m-btn--pill" title="Delete" (click)="destroy(designation.id)">
                                            <i class="la la-trash"></i>
                                        </a>
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>

    <ng-template #content let-c="close" let-d="dismiss">
        <form [formGroup]="form" (ngSubmit)="onSubmit($event)">
            <div class="modal-header">
                <h6 class="modal-title text-uppercase">New Designation</h6>
                <button type="button" class="close" aria-label="Close" (click)="closeX('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <label>Name</label>
                        <fieldset class="form-group" [ngClass]="{'has-danger': form.controls['name'].hasError('required') && form.controls['name'].touched}">
                            <input type="text" class="form-control" placeholder="Designation name" [formControl]="form.controls['name']" [ngClass]="{'form-control-danger': form.controls['name'].hasError('required') && form.controls['name'].touched}" />
                            <div class="form-control-feedback" *ngIf="form.controls['name'].hasError('required') && form.controls['name'].touched">Designation name is required.</div>
                        </fieldset>
                    </div>
                    <div class="col-12">
                        <div class="form-group m-form__group">
                            <label for="exampleSelect1">
                                Department
                            </label>
                            <select class="form-control m-input m-input--air" id="exampleSelect2" [formControl]="form.controls['department']" [ngClass]="{'has-danger': form.controls['department'].hasError('required') && form.controls['department'].touched}">
                                <option disabled selected [value]=noVal>Select Department</option>
                                <option *ngFor="let department of departments" value="{{department.id}}" >{{department.name}}</option>
                            </select>
                        </div>
                    </div>

                </div>
            </div>

            <div class="modal-footer">
                <button title="Close" type="button" class="btn btn-secondary" (click)="closeButton('Close click')">Close</button>
                <button title="Create" class="btn btn-primary" type="submit" [disabled]="!form.valid">Create</button>
            </div>
        </form>
    </ng-template>