<!-- BEGIN: Subheader -->
<div class="m-subheader">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <!-- <h3 class="m-subheader__title m-subheader__title--separator">
                Employee
            </h3> -->
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="/index" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon la la-home"></i>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a href="/index" class="m-nav__link">
                        <span class="m-nav__link-text">
							Dashboard
						</span>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a href="#" class="m-nav__link">
                        <span class="m-nav__link-text">
                                Employee
						</span>
                    </a>
                </li>
            </ul>
        </div>
        <div>
            <div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push">

                <a class="btn btn-accent m-btn m-btn--custom m-btn--pill m-btn--icon m-btn--air" href="#" ng-reflect-href="#" (click)="open(content)">
                    <span>
                        <i class="flaticon-add"></i>
                        <span>
                            New Employee
                        </span>
                    </span>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- END: Subheader -->
<div class="m-content">

    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        List of All Employee
                    </h3>
                </div>
            </div>
        </div>
        <div class="m-portlet__body">

            <div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
                <div class="row align-items-center">
                    <table class="table">
                        <thead>
                            <th>#</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Department</th>
                            <th>Designation</th>
                            <th>Gender</th>
                            <th>Email</th>
                            <th>Salary</th>
                            <th>Actions</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let employee of employees; let i = index">
                                <td>{{i + 1}}</td>
                                <td>{{employee.first_name}}</td>
                                <td>{{employee.last_name}}</td>
                                <td>{{employee.department.name || '--'}}</td>
                                <td>{{employee.designation.name || '--'}}</td>
                                <td>{{employee.gender}}</td>
                                <td>{{employee.email}}</td>
                                <td>{{employee.salary}}</td>
                                <td data-field="Actions" class="m-datatable__cell">
                                    <span style="overflow: visible; width: 110px;">			
                                        <a href="#" class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill" title="View ">
                                            <i class="la la-edit"></i>
                                        </a>
                                        <a href="#" class="m-portlet__nav-link btn m-btn m-btn--hover-danger m-btn--icon m-btn--icon-only m-btn--pill" title="Delete" (click)="destroy(employee.id)">
                                            <i class="la la-trash"></i>
                                        </a>
                                    </span>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>

    <ng-template #content let-c="close" let-d="dismiss">
        <form [formGroup]="form" (ngSubmit)="onSubmit($event)">
            <div class="modal-header">
                <h6 class="modal-title text-uppercase">New Employee</h6>
                <button type="button" class="close" aria-label="Close" (click)="closeX('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-6">
                        <label>First Name</label>
                        <fieldset class="form-group" [ngClass]="{'has-danger': form.controls['first_name'].hasError('required') && form.controls['first_name'].touched}">
                            <input type="text" class="form-control" placeholder="Frist name" [formControl]="form.controls['first_name']" [ngClass]="{'form-control-danger': form.controls['first_name'].hasError('required') && form.controls['first_name'].touched}" />
                            <div class="form-control-feedback" *ngIf="form.controls['first_name'].hasError('required') && form.controls['first_name'].touched">First name is required.</div>
                        </fieldset>
                    </div>
                    <div class='col-6'>
                        <label>Last Name</label>
                        <fieldset class="form-group" [ngClass]="{'has-danger': form.controls['last_name'].hasError('required') && form.controls['last_name'].touched}">
                            <input type="text" class="form-control" placeholder="Last name" [formControl]="form.controls['last_name']" [ngClass]="{'form-control-danger': form.controls['last_name'].hasError('required') && form.controls['last_name'].touched}" />
                            <div class="form-control-feedback" *ngIf="form.controls['last_name'].hasError('required') && form.controls['last_name'].touched">Last name is required.</div>
                        </fieldset>
                    </div>
                    <div class="col-6">
                        <div class="form-group m-form__group">
                            <label for="exampleSelect1">
                                    Department
                                </label>
                            <select class="form-control m-input m-input--air" id="exampleSelect2" [formControl]="form.controls['department']" [ngClass]="{'has-danger': form.controls['department'].hasError('required') && form.controls['department'].touched}">
                                    <option disabled selected [value]=noVal>Select Department</option>
                                    <option *ngFor="let department of departments" value="{{department.id}}" >{{department.name}}</option>
                                </select>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group m-form__group">
                            <label for="exampleSelect1">
                                        Designation
                                    </label>
                            <select class="form-control m-input m-input--air" id="exampleSelect2" [formControl]="form.controls['designation']" [ngClass]="{'has-danger': form.controls['designation'].hasError('required') && form.controls['designation'].touched}">
                                        <option disabled selected [value]=noVal>Select Designation</option>
                                        <option *ngFor="let designation of designations" value="{{designation.id}}" >{{designation.name}}</option>
                                    </select>
                        </div>
                    </div>
                    <div class='col-6'>
                        <label>Gender</label>
                        <fieldset class="form-group" [ngClass]="{'has-danger': form.controls['gender'].hasError('required') && form.controls['gender'].touched}">
                            <input type="text" class="form-control" placeholder="Gender" [formControl]="form.controls['gender']" [ngClass]="{'form-control-danger': form.controls['gender'].hasError('required') && form.controls['gender'].touched}" />

                            <div class="form-control-feedback" *ngIf="form.controls['gender'].hasError('required') && form.controls['gender'].touched">Gender is required.</div>
                        </fieldset>
                    </div>
                    <div class='col-6'>
                        <label>Salary</label>
                        <fieldset class="form-group" [ngClass]="{'has-danger': form.controls['salary'].hasError('required') && form.controls['salary'].touched}">
                            <input type="text" class="form-control" placeholder="Salary" [formControl]="form.controls['salary']" [ngClass]="{'form-control-danger': form.controls['salary'].hasError('required') && form.controls['salary'].touched}" />

                            <div class="form-control-feedback" *ngIf="form.controls['salary'].hasError('required') && form.controls['salary'].touched">Salary is required.</div>

                        </fieldset>
                    </div>
                    <div class='col-6'>
                        <label>Email</label>
                        <fieldset class="form-group" [ngClass]="{'has-danger': form.controls['email'].hasError('required') && form.controls['email'].touched}">
                            <input type="email" class="form-control" placeholder="Email" [formControl]="form.controls['email']" [ngClass]="{'form-control-danger': form.controls['email'].hasError('required') && form.controls['email'].touched}" />

                            <div class="form-control-feedback" *ngIf="form.controls['email'].hasError('required') && form.controls['email'].touched">Eamil is required.</div>
                        </fieldset>
                    </div>
                    <div class='col-6'>
                        <label>Password</label>
                        <fieldset class="form-group" [ngClass]="{'has-danger': form.controls['password'].hasError('required') && form.controls['password'].touched}">
                            <input type="password" class="form-control" placeholder="Password" [formControl]="form.controls['password']" [ngClass]="{'form-control-danger': form.controls['password'].hasError('required') && form.controls['password'].touched}" />
                            <div class="form-control-feedback" *ngIf="form.controls['password'].hasError('required') && form.controls['password'].touched">Password is required.</div>

                        </fieldset>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button title="Close" type="button" class="btn btn-secondary" (click)="closeButton('Close click')">Close</button>
                <button title="Create" class="btn btn-primary" type="submit" [disabled]="!form.valid">Create</button>
            </div>
        </form>
    </ng-template>