<!-- BEGIN: Subheader -->
<div class="m-subheader">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <!-- <h3 class="m-subheader__title m-subheader__title--separator">
                Employee
            </h3> -->
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="/index" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon la la-home"></i>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a href="/index" class="m-nav__link">
                        <span class="m-nav__link-text">
							Dashboard
						</span>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a href="#" class="m-nav__link">
                        <span class="m-nav__link-text">
                                Employee
						</span>
                    </a>
                </li>
            </ul>
        </div>
        <div>
            <div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push">

                <a class="btn btn-accent m-btn m-btn--custom m-btn--pill m-btn--icon m-btn--air" href="#" ng-reflect-href="#" (click)="open(content)">
                    <span>
                        <i class="flaticon-add"></i>
                        <span>
                            New Employee
                        </span>
                    </span>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- END: Subheader -->
<div class="m-content">

    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        List of All Employee
                    </h3>
                </div>
            </div>
        </div>
        <div class="m-portlet__body">

            <div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
                <div class="row align-items-center">
                    <table class="table">
                        <thead>
                            <th>#</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Gender</th>
                            <th>Email</th>
                            <th>Salary</th>
                            <th>ID</th>
                            <th>Actions</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let employee of employees; let i = index">
                                <td>{{i + 1}}</td>
                                <td>{{employee.first_name}}</td>
                                <td>{{employee.last_name}}</td>
                                <td>{{employee.gender}}</td>
                                <td>{{employee.email}}</td>
                                <td>{{employee.salary}}</td>
                                <td>{{employee.id}}</td>
                                <td data-field="Actions" class="m-datatable__cell">
                                    <span style="overflow: visible; width: 110px;">			
                                        <a href="#" class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill" title="View ">
                                            <i class="la la-edit"></i>
                                        </a>
                                        <a href="#" class="m-portlet__nav-link btn m-btn m-btn--hover-danger m-btn--icon m-btn--icon-only m-btn--pill" title="Delete" (click)="destroy(employee.id)">
                                            <i class="la la-trash"></i>
                                        </a>
                                    </span>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
    <!--end: =============================================== :Portlet-->
    <!--begin::Modal-->
    <div class="modal fade" id="m_modal_1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                        New Employee
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">
							&times;
						</span>
					</button>
                </div>
                <div class="modal-body">
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                        survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently
                        with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
						Close
					</button>
                    <button type="button" class="btn btn-primary">
						Save
					</button>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #content let-c="close" let-d="dismiss">
    <form [formGroup]="form" (ngSubmit)="onSubmit($event)">
        <div class="modal-header">
            <h6 class="modal-title text-uppercase">Add New Employee</h6>
            <button type="button" class="close" aria-label="Close" (click)="closeX('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-12">
                    <label>Employee Record</label>
                    <fieldset class="form-group" [ngClass]="{'has-danger': form.controls['first_name'].hasError('required') && form.controls['first_name'].touched}">
                        <input type="text" class="form-control" placeholder="Frist name" [formControl]="form.controls['first_name']" [ngClass]="{'form-control-danger': form.controls['first_name'].hasError('required') && form.controls['first_name'].touched}" />
                        <input type="text" class="form-control" placeholder="Last name" [formControl]="form.controls['last_name']" [ngClass]="{'form-control-danger': form.controls['last_name'].hasError('required') && form.controls['last_name'].touched}" />
                        <input type="text" class="form-control" placeholder="Gender" [formControl]="form.controls['gender']" [ngClass]="{'form-control-danger': form.controls['gender'].hasError('required') && form.controls['gender'].touched}" />
                        <input type="text" class="form-control" placeholder="Salary" [formControl]="form.controls['salary']" [ngClass]="{'form-control-danger': form.controls['salary'].hasError('required') && form.controls['salary'].touched}" />
                        <input type="email" class="form-control" placeholder="Email" [formControl]="form.controls['email']" [ngClass]="{'form-control-danger': form.controls['email'].hasError('required') && form.controls['email'].touched}" />
                        <input type="password" class="form-control" placeholder="Password" [formControl]="form.controls['password']" [ngClass]="{'form-control-danger': form.controls['password'].hasError('required') && form.controls['password'].touched}" />
                        

                        
                        <div class="form-control-feedback" *ngIf="form.controls['first_name'].hasError('required') && form.controls['first_name'].touched">Employee First name is required.</div>
                    </fieldset>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button title="Close" type="button" class="btn btn-secondary" (click)="closeButton('Close click')">Close</button>
            <button title="Create" class="btn btn-primary" type="submit" [disabled]="!form.valid">Create</button>
        </div>
    </form>
</ng-template>